ctx-tree {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  content-editable{
    flex: 1;
  }

  @media screen and (min-width: 600px){
    margin: 0 auto;
    width: 1000px;
    max-width: calc(100vw - 2em);
  }
  @media screen and (max-width: 600px){
    margin: 10px;
  }
}

